{% extends 'base.html.twig' %}
{% block title %}
    Homepage
{% endblock %}

{% block body %}
    <main role="main" class="container">

        <h1>Tasks list</h1>
        <br/><br/>
        <table id="tasks_list" class="table table-hover">
            <tbody>
            {% for task in tasks %}
                {% if task[1] == 'danger' %}
                    <tr class="table-danger">
                {% else %}
                    <tr>
                {% endif %}
                <td scope="row">
                    <input type="checkbox" class="form-check-input">
                </td>
                <td>{% if task[2] == 'done' %}
                        <p class="done">{{ task[0] }}</p>
                    {% else %}
                        <p class="">{{ task[0] }}</p>
                    {% endif %}</td>
                <td>12 octobre 2019</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-success">Done</button>
                        <button type="button" class="btn btn-cancel">Remove</button>
                    </div>
                </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>


    </main>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/set_task_status.js') }}"></script>
{% endblock %}