{% extends 'base.html.twig' %}
{% block title %}
    Homepage
{% endblock %}

{% block body %}
    <main role="main" class="container">

        <h1>Tasks list</h1>
        <br/><br/>
        <table id="tasks_list" class="table table-hover">
            <tbody>
            {% for task in tasks %}
                {% if task[1] == 'danger' %}
                    <tr class="table-danger">
                {% else %}
                    <tr>
                {% endif %}
                <th scope="row">1</th>
                <td>{% if task[2] == 'done' %}
                        <p class="done">{{ task[0] }}</p>
                    {% else %}
                        <p class="open">{{ task[0] }}</p>
                    {% endif %}</td>
                <td>12 octobre 2019</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-success">Done</button>
                        <button type="button" class="btn btn-cancel">Middle</button>
                    </div>
                </td>
                </tr>
            {% endfor %}
            <tr>
                <th scope="row">1</th>
                <td>While we haven’t tried these out, they do look promising and provide multiple formats—including
                    SVG.While we haven’t tried these out, they do look promising and provide multiple formats—including
                    SVG.
                </td>
                <td>12 septembre 2019</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-success">Done</button>
                        <button type="button" class="btn btn-cancel">Middle</button>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Task 1</td>
                <td>@mdo</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-success">Done</button>
                        <button type="button" class="btn btn-cancel">Middle</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>


    </main>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/set_task_status.js') }}"></script>
{% endblock %}